.main {
  @media (min-width: 760px) {
    display: grid;
    grid-template-rows: max-content;
    margin: 1em;
    font-family: "Ubuntu", sans-serif;
  }
}

.header {
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}
