@import url("https://fonts.googleapis.com/css?family=Syncopate:700|Ubuntu:300,400");

.ul {
  list-style-type: none;
  padding: 0;
  justify-self: center;
  text-align: center;
  margin-top: 25%;

  li {
    padding: 5px;
    display: inline;
  }

  li:nth-of-type(1) {
    display: block;
    margin-bottom: 1em;
    font-family: "Ubuntu", sans-serif;
  }

  img {
    width: 50px;
  }
}
