@import url("https://fonts.googleapis.com/css?family=Syncopate:700|Ubuntu:300,400");

.home {
  height: 100%;
  overflow: scroll;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(8, 11rem);

  header {
    grid-column-start: 1;
    grid-column-end: 5;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    text-align: center;
    margin: 0;

    h1 {
      margin: 5% 0;
      letter-spacing: 0.3em;
      font-size: 1.5em;
    }
    h2 {
      margin: 0;
      letter-spacing: 0.5em;
      font-size: 1.8em;
    }

    @media (min-width: 1024px) {
      grid-column-start: 4;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 3;
      text-align: right;
    }
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2px;
  }

  #desk {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #fatHalfOne {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  #skinnyHalfOne {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    width: 50%;
    height: 50%;
    z-index: 10;
    margin: auto 0;
  }
  #skinnyHalfTwo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    width: 50%;
    height: 50%;
    z-index: 10;
    margin: auto 0;
  }
  #cup {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
  }
  #landscapeOne {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
  }
  #skinnyHalfThree {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    height: 50%;
    margin: auto 0;
  }
  #skinnyHalfFour {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    height: 50%;
    margin: auto 0;
  }
  #triangleOne {
    width: 50%;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  #triangleTwo {
    width: 50%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
  }
  #landscapeTwo {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
  }
  #desert {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
  }
  #wheat {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
  }
  #skinnyHalfFive {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    height: 50%;
    z-index: 10;
    margin: auto 0;
  }
  #skinnyHalfSix {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    height: 50%;
    margin: auto 0;
  }

  @media (min-width: 760px) {
    grid-template-columns: repeat(6, 6rem);
    grid-template-rows: repeat(11, 6rem);

    header {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 3;
      font-size: 1.1em;
    }

    #desk {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 3;
      grid-row-end: 5;
    }
    #fatHalfOne {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 7;
    }
    #landscapeOne {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 6;
      grid-row-end: 7;
    }
    #desert {
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 8;
      grid-row-end: 9;
    }
    #wheat {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    #triangleOne {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
    }
    #triangleTwo {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    #skinnyHalfOne {
      height: 100%;
      grid-row-start: 9;
      grid-row-end: 10;
    }
    #skinnyHalfTwo {
      height: 100%;
      grid-row-start: 8;
      grid-row-end: 9;
    }
    #skinnyHalfThree {
      height: 100%;
      grid-row-start: 9;
      grid-row-end: 10;
    }
    #skinnyHalfFour {
      height: 100%;
      grid-row-start: 8;
      grid-row-end: 9;
    }
    #skinnyHalfFive {
      height: 100%;
      grid-row-start: 9;
      grid-row-end: 10;
    }
    #skinnyHalfSix {
      height: 100%;
      grid-row-start: 9;
      grid-row-end: 10;
    }
    #cup {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(8, 6rem);

    header {
      grid-column-start: 1;
      grid-column-end: 9;
      font-size: 1.5em;
      margin: 0;
    }

    #desk {
      grid-column-start: 8;
      grid-column-end: 9;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    #fatHalfOne {
      grid-column-start: 8;
      grid-column-end: 9;
      grid-row-start: 5;
      grid-row-end: 6;
    }
    #skinnyHalfOne {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
      height: 100%;
      width: 100%;
    }
    #skinnyHalfTwo {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
      height: 100%;
      width: 100%;
    }
    #cup {
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 7;
      grid-row-end: 8;
    }
    #landscapeOne {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      height: 100%;
    }
    #skinnyHalfThree {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
      height: 100%;
    }
    #skinnyHalfFour {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 6;
      height: 100%;
    }
    #triangleOne {
      width: 50%;
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 6;
      grid-row-end: 7;
    }
    #triangleTwo {
      width: 50%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    #landscapeTwo {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 7;
      grid-row-end: 8;
    }
    #desert {
      grid-column-start: 7;
      grid-column-end: 8;
      grid-row-start: 6;
      grid-row-end: 7;
    }
    #wheat {
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 6;
    }
    #skinnyHalfFive {
      display: none;
    }
    #skinnyHalfSix {
      display: none;
    }
  }
}
