.main {
  overflow: scroll;
  display: grid;
  background-color: whitesmoke;

  @media (max-width: 760px) {
    grid-template-columns: 100%;
  }

  @media (min-width: 760px) {
    grid-template-columns: 25% 75%;
  }

  .section {
    background-color: whitesmoke;
    box-shadow: inset 5px 0 5px -2px #e0dfdf;
  }
}
