@import url("https://fonts.googleapis.com/css?family=Syncopate:700|Ubuntu:300,400");

.nav {
  font-family: "Syncopate", sans-serif;
  @media (min-width: 700px) {
    overflow: scroll;
    height: 100vh;
    width: 100%;
  }

  label {
    display: none;
  }

  ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;

    @media (min-width: 700px) {
      display: block;
      margin-top: 10px;
    }
  }

  .show {
    display: block;
  }

  .hide {
    display: none;

    @media (min-width: 700px) {
      display: block;
    }
  }

  .menuArrow {
    /*the rectangle*/
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-left: 0;
    margin-top: 1em;
    position: relative;
    line-height: 2.5em;
    padding-left: 1em;
    padding-right: 2em;
    background: black;
    color: white;
    &:after {
      border-left: 20px solid black;
    }
  }

  .menuArrow:after {
    /*the triangle*/
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -20px;
    right: 0;
  }

  .menuArrow:active {
    background: yellow;
    color: black;
    &:after {
      /*triangle hover*/
      border-left: 20px solid yellow;
    }
  }

  .yellow {
    background: yellow;
    color: black;
  }

  li {
    text-align: left;
    transition: background-color 0.5s;
    padding: 0.5em 5px;
    font-size: 2em;

    @media (min-width: 700px) {
      padding: 0.8em 5px;
      font-size: 2.2vw;
    }
  }

  li:hover {
    background-color: black;
  }

  a:hover {
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
  }
}
